@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body{
        font-family: 'Noto Sans', Sans-Serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #1e1e1e;
        background: #fafafa;

}

select.bk-widget-form-input {
        font-weight:600;
        font-size:16px;
}
button.bk-bs-btn.bk-bs-btn-default{
        font-weight:600;
        font-size:16px;
}
.lead-text{
        font-size: 20px;
        font-weight:600;
        position: relative;
        padding-top:20px;
        padding-left:20px;
}
.lead-text-rng{
        font-size: 20px;
        font-weight:600;
        position: relative;
        padding-top:20px;
        padding-left:10px;
}
.head-text{
        font-size:20px;
        font-weight:600;
        position: relative;
        padding-top:10px;
        padding-down:5px;
}
.container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: 3px;
}

img {
	max-width: 900px;
    width:100%;
}

dummydeclaration { padding-left: 4em; } /* Firefox ignores first declaration for some reason */
tab0 { padding-left: 1.5em; }
tab2{ padding-left: 6em; }
tab1 {
	padding-left: 2em;
	margin-left:0em;
 }
mark1{
	background-color: #dee0de;
    color: black;
}

.img-list{
	max-height:35px;
	max-width:35px;
	float:left;
	border: 1px dotted black;
    margin: 0px 20px 15px 0px;
}
.list-li{
	margin:0;
	padding: 0px 0px 0px 4em;
	list-style: none;
}
