{% extends "bootstrap/base.html" %}

{% block title %}Site Title{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    {% for f in bokeh_resources.css_files %}
       <link rel="stylesheet" href="{{ f }}">
    {% endfor %}

    {% for f in bokeh_resources.js_files %}
        <script src="{{ f }}"></script>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container">


    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
